<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>H4CKIT</title>
	<link rel="stylesheet" href="assets/styles/style.css">
</head>
<body>
	<div class="bios" id="__bios">
		<div class="tlt">{{title}}</div>
		<div class="menu">
			<div class="item" v-for="(item,id) in menuList" v-bind:class="{active: (id == selItem)}">{{item.title}}</div>
		</div>
		<div class="main">
			<div class="sections">
				<div v-for="(sect,id) in menuList[selItem].sections" v-bind:class="{active: (id == selSection)}" class="section">
					{{sect.title}}
				</div>
			</div>
			<div class="desc">
				Описание
			</div>
		</div class="main">
		<div class="ftr">
			{{footer}}
		</div>
	</div>
</body>
</html>

	<script src="assets/scripts/js/vue.js"></script>
	<script src="assets/scripts/js/index.js"></script>
	<script src="assets/scripts/js/bios.js"></script>