<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>H4CKIT</title>
	<link rel="stylesheet" href="assets/styles/style.css">
</head>
<body>
	<div class="bios" id="__bios">
		<div class="tlt">{{title}} &#0007</div>
		<div class="menu">
			<div class="item" v-for="(item,id) in menuList" v-bind:class="{active: (id == selItem)}">{{item.title}}</div>
		</div>
		<div class="main">
			<div class="sections">
				<div v-for="(sect,id) in menuList[selItem].sections" v-bind:class="{active: (id == selSection)}" class="section">
					<div class="title">{{sect.title}}</div>
					<div v-if="sect.value" class="value">[{{getVar(sect.value)}}]</div>
					<div v-else-if="sect.hidevalue" class="value">[Скрыто]</div>
				</div>
			</div>
			<div class="desc">
				<pre v-if="menuList[selItem].sections[selSection].description">{{menuList[selItem].sections[selSection].description}}</pre>
			</div>
		</div class="main">
		<div class="ftr">
			{{footer}}
		</div>
		<div v-if="modal.opened" class="modalwrapper">
			<div class="modal">
				<div class="tlt">{{modal.title}}</div>
				<div v-if="modal.type == 'select'" class="body">
					<div class="list">
						<div v-for="(item, id) in getVar(modal.values)" v-bind:class="{active: (modal.selItem == modal.selItems.indexOf(id))}" class="item">{{genTitle(modal.optionTitle,item)}}</div>
					</div>
				</div>

				<div v-if="modal.type == 'input_text'" class="body">
					<div class="input">
						<input v-if="modal.hide" v-model="modal.input" ref="modal_input" type="password">
						<input v-else v-model="modal.input" ref="modal_input" type="text">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<script src="assets/scripts/js/vue.js"></script>
<script src="assets/scripts/js/index.js"></script>
<script src="assets/scripts/js/bios.js"></script>