@font-face {
 font-family: "VGA";
 src: url("../fonts/ibm_vga.ttf");
}

body, html {
	background-color:black;
	margin:0px;
	padding:0px;
	font-family: "VGA";
	overflow:hidden;
	color:white;
	height: 100%;
    width: 100%;
}

body {
	display:flex;
	align-items:center;
	justify-content: center;
}