@font-face {
 font-family: "VGA";
 src: url("../fonts/ibm_vga.ttf");
}

body, html {
	background-color:black;
	margin:0px;
	padding:0px;
	font-family: "VGA";
	overflow:hidden;
	color:white;
	height: 100%;
    width: 100%;
    
}
canvas {
	position:absolute;
}

body {
	display:flex;
	align-items:center;
	justify-content: center;
}

#app {
	z-index:10;
	position:absolute;
	background-color:rgba(0,0,0,0.8);
	display:none;
}