@font-face {
 font-family: "VGA";
 src: url("../fonts/ibm_vga.ttf");
}

@font-face {
	font-family: "SAT";
	src: url("../fonts/toshiba_sat.woff");
}

body, html {
	background-color:black;
	margin:0px;
	padding:0px;
	font-family: "VGA";
	overflow:hidden;
	color:white;
	height: 100%;
    width: 100%;
	position:relative;
}

::selection {
	background: rgb(234 234 234);
    color: #484848;
}

body.game {
	display:flex;
	align-items:center;
	justify-content:center;
}

* {
	font-family: inherit;
}

input,textarea,select {
	background: none;
	border:none;
	outline:none;
	color:inherit;
}

._oge_canvas {
	position:absolute;
}

#screen {
	width: 100%;
	height:100%;
	overflow:hidden;
	position:relative;
}

pre {
	margin:0px;
	padding:0px;
}

form {
	margin:0px;
	padding:0px;
}
div, form, input, button {
	box-sizing: border-box;
}

#app {
	z-index:1000;
	position:absolute;
	background-color:rgba(0,0,0,0.8);
}